@import url(https://fonts.googleapis.com/css?family=Poppins);
.title{
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #000000;

}
.app{
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 767px;
    align-items: center;
    justify-content: space-evenly;

}
.types{
    width: 1603px;
    height: 453px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.recipe_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1565px;
}

.recipe_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1210px;
    height: 1440px;

}